@import "tailwindcss";
@plugin "daisyui" {
	logs: false;
}

@font-face {
	font-family: Dmsans;
	src: url("../assets/fonts/DMSans.woff2") format("woff2");
	font-style: normal;
	font-weight: 100 1000;
	font-display: swap;
}

@font-face {
	font-family: Handlee;
	src: url("../assets/fonts/Handlee.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-dmsans: "Dmsans", "sans-serif";
	--font-handless: "Handlee", "sans-serif";
}

@layer components {
  .select:focus-within,
  .select:focus,
  .input:focus,
  .input:focus-within {
    outline: none !important;
  }
}


@layer utilities {
  @keyframes progress-indefinite {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  .animate-progress-indefinite {
    animation: progress-indefinite 2s infinite linear;
  }
}
